{% extends 'base.html.twig' %}

	{% block container %}
	
<!-- COVER IMAGE AND FLOATING BUTTON -->
			<div class="cover-image"></div>	
			<div class="desktop-fab-container ">
				<!-- REPLACE WITH YOUR APP URL -->
     			<a href="YOUR_APP_URL_HERE">
     				<paper-fab class="wow fadeInUp desktop-fab" icon="shop"></paper-fab>
     			</a>
			</div>
			
			<!-- ICON, NAME AND DESCRIPTION -->
			<div class="wow fadeInDownBig content-card">
				
				
				<div class="icon-and-title-flex">
					
					<div class="title-container">
						<span class="text-title">DSSD 2016 </span> <br> <br>
						
						<p>Gestionamos la inscripción y organización  del  Congreso de Tecnología  
						e   Informática   BPM   &   Cloud   2016,   en   el   cual   se   tratan   los   siguientes   temas:   Cloud  
						Computing, Web Services, BPM y SOA.</p>
						<p> Si quieres inscribir tu trabajo para posteriormente exponerlo ingresa al siguiente link</p>

					</div>	
				</div><br><br>

				<a class="btn waves-effect waves-light right " href="inscribir.html">  Inscribir </a>
                   
			</div>

	
	{% endblock %}
		 
