{% extends 'base.html.twig' %}

{% block body %}
        <!-- COVER IMAGE AND FLOATING BUTTON -->
            <div class="cover-image"></div> 
            <div class="desktop-fab-container ">
                <!-- REPLACE WITH YOUR APP URL -->
                <a href="YOUR_APP_URL_HERE">
                    <paper-fab class="wow fadeInUp desktop-fab" icon="shop"></paper-fab>
                </a>
            </div>
            
            <!-- ICON, NAME AND DESCRIPTION -->
            <div class="wow fadeIn content-card">
                
                
                <div class="icon-and-title-flex">
                    
                    <div class="title-container">
                        <span class="text-title">Finalizar documento </span>                      
                    </div>  
                </div>
            {% if finalizado== 0 %}
           <p> Marque el documento del siguiente trabajo  como finalizado para que luego pase a ser revisado.</p>
            
                <table class="striped">
                    <tbody>
                     
                        <tr>
                            <th>Enlace de acceso</th>
                            <td> <a href="{{ documento.link }}"></a>{{ documento.link }}</td>
                        </tr>
                                      
                    </tbody>
                </table>
            <br>
            <form action="{{ path('documento_finalize', { 'idD': documento.id , 'idDrive': Driveid }) }}" method="POST">
            <input type="hidden" name="idTrabajo" >
                    <button type="submit" name="Finalizar" class="waves-effect waves-light btn right""> Finalizar</button>  
            </form>
            {%else%}
                <div class="card-panel red lighten-1">  El documento ya ha sido marcado como finalizado</div>
            {% endif %}
            </div>
{% endblock %}
